.TeamMember {
  &__Details {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 1.25rem;
    margin-top: 2rem;

    span {
      display: block;

      + span {
        margin-top: 0.25rem;
      }
    }
  }

  &__Form {
    margin-top: 2rem;

    label {
      font-size: 0.875rem;
      font-weight: 600;
    }

    input {
      border-radius: 4px;
      outline: none;
      border: 1px solid #CCC;
      padding: 0.5rem;
      width: 100%;
    }
  }
}
